.hero__container--bg {
  background: #030712;
}

.hero__container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 50px 0px;
  display: flex;
}

.hero__container--infos h1{
  color: #f6f6f6;
}



.hero__container--img img{
  max-width: 400px;
  border-radius: 50%;
}